
.pickWinning {
	color: green;
	font-size: small;
	font-style: italic;
}

.pickLosing {
	color: red;
	font-size: small;
	font-style: italic;
}

.pickTied {
	color: darkorange;
	font-size: small;
	font-style: italic;
}

.cssfix {
	white-space: pre-wrap;
}

.table td {
		padding: 1.0rem;
		border: 0.5px solid black;
}

.table th {
	padding: 4px;
	background: orange;
	color: white;
	font: bold;
	border: 0.5px solid black;
}
